html,
head,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F8F8F8;
}

h1 {
    margin: 0;
}

header {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-content {
    height: 100%;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-width: 64rem;
}
