:root {
    color-scheme: light dark;
}

html,
head,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(135deg, #60a6db 50%, #D0E0F8); /* for legacy clients */
    background-image: linear-gradient(135deg, light-dark(#60a6db, #371282) 40%, light-dark(#D0E0F8, black));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
}

header {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-content {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-width: 64rem;
}

object {
    display: block;
    width: 100%;
    height: 90vh;
}
