:root {
    color-scheme: light dark;
    --light-bg-color1: #9ac0ff;
    --light-bg-color2: #d0e0f0;
    --dark-bg-color1: #333333;
    --dark-bg-color2: #000022;
}

html,
head,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--light-bg-color1);
    background-image: linear-gradient(135deg, light-dark(var(--light-bg-color1), var(--dark-bg-color1)) 20%, light-dark(var(--light-bg-color2), var(--dark-bg-color2)));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
}

header {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-content {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-width: 64rem;
}

object {
    display: block;
    width: 100%;
    height: 90vh;
}
